/*Estilos que defino previamente para hacer mi propio pseudo-framework*/

.btn-full {
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 10px 12px;
    border-radius: 14px;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}

.btn {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 600;
    padding: 8px 12px;
    border: none;
    border-radius: 13px;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

$colors: (
    green: $accent-green,
    dark: $dark,
    light-blue: $light-blue,
    blue: $accent-blue,
);

@each $name-color, $bgcolor in $colors {
    .#{$name-color} {
        background-color: $bgcolor;
    }
}

@mixin flex($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

.blue:hover {
    background-color: $dark;
}

.green:hover {
    background-color: #127760;
}

.dark:hover {
    background-color: $accent-blue;
}

.light-blue:hover {
    background-color: $accent-blue;
}

.yellow {
    background-color: #e58c0713;
    color: #977318;
}
