#grid-form {
    margin-top: 5em;
    min-height: 93vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .sign {
        display: flex;
        justify-content: center;

        .container-sign {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @include flex(center, flex-start);
            width: 65%;
            max-width: 25em;
            height: 85%;
            color: $dark;

            img {
                height: 2.5em;
            }

            h4 {
                font-size: 2rem;
                margin-top: 0.8em;
            }

            span {
                margin-top: 1.5em;
                font-size: 0.9em;
            }

            a {
                color: $accent-blue;
                font-weight: 600;
            }

            /*FORM*/

            .form-sign {
                margin-top: 1.5em;
                display: flex;
                flex-direction: column;
                gap: 1.6em;
                width: 100%;

                .form-group {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: 500;
                        font-size: 1em;
                    }

                    input {
                        border: none;
                        padding: 11px 15px;
                        border: 2px solid #c2c2c270;
                        border-radius: 12px;
                        width: 100%;
                        margin-top: 0.5em;
                    }
                }

                .btn-sign {
                    border: none;
                    padding: 13px 0;
                    cursor: pointer;
                    font-weight: 600;
                    filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
                }

                .google {
                    background-color: #fff;
                    color: gray;
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    border: none;
                    cursor: pointer;
                    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.068));

                    img {
                        height: 1.5em;
                    }
                }
            }
        }
    }

    .background-50 {
        background-image: url(../img/login-bg.webp);
        background-size: cover;
        background-position: center;

        &#bg-signup {
            background-image: url(../img/signup-bg.webp) !important;
            background-position: top;
        }
    }
}

@media screen and (max-width: 480px) {
    #grid-form {
        margin-top: 3em;
        grid-template-columns: 1fr;
        min-height: 95vh;

        .sign {
            .container-sign {
                width: 75%;
            }
        }
    }

    .background-50 {
        display: none;
    }
}
