@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
    --dark: #010f34;
    --accent-blue: #193b97;
    --accent-green: #189779;
    --light-gray: #c2c2c2;
    --accent-gold: #977318;
    --light-blue: rgba(25, 59, 151, 0.8);
}

/*-----Globales-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 5em;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(180deg, #ffffff 0%, #f3f5f7 100%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

h1 {
    font-size: 4.2em;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2em;
    font-weight: normal;
}

.btn-full {
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 10px 12px;
    border-radius: 14px;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}

.btn {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 600;
    padding: 8px 12px;
    border: none;
    border-radius: 13px;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.green {
    background-color: var(--accent-green);
}

.green:hover {
    background-color: #127760;
}

.dark {
    background-color: var(--dark);
}

.dark:hover {
    background-color: var(--accent-blue);
}

.light-blue {
    background-color: var(--light-blue);
}

.light-blue:hover {
    background-color: var(--accent-blue);
}

.yellow {
    background-color: #e58c0713;
    color: #977318;
}

.blue {
    background-color: var(--accent-blue);
}

/*------Header-------*/

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    position: fixed;
    z-index: 20000;
    z-index: 2000;
    background-color: #fff;
}

.container-header {
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
}

#menu,
#user {
    display: none;
}

.logo {
    height: 2.5em;
}

.links-header {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: 50px;
}

.links-header li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: var(--dark);
    transition: 0.3s;
}

.links-header li a:hover {
    color: #193b97;
}

.buttons-header {
    display: flex;
    gap: 17px;
}

/*------Main-------*/

main {
    display: flex;
    justify-content: center;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
}

/*------Home-------*/

#home {
    display: flex;
    min-height: 92vh;
    margin-top: 5em;
}

/*Ilustraciones*/

#hero-mobile {
    display: none;
}

#hero-desktop {
    position: absolute;
    top: 0;
    right: 0;
    height: 55rem;
}

/*Texto hero*/

.hero-text {
    color: var(--dark);
    margin-top: 8rem;
}

.hero-text h5 {
    margin-top: 1em;
}

.hero-form {
    margin-top: 1.5em;
    display: flex;
    width: 25rem;
    height: 2.8rem;
    border-radius: 20px;
    background-color: red;
    filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.08));
}

.hero-form input {
    border: none;
    background-color: #fff;
    border-radius: 16px 0 0 16px;
    padding: 1em;
    font-size: 0.9em;
    width: 17rem;
}

.hero-form input:focus-visible {
    border: none;
}

.hero-form button {
    border: none;
    background-color: var(--dark);
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    width: 8rem;
}

.hero-form button:hover {
    background-color: var(--accent-blue);
}

/*Flecha siguiente sección*/

.chevron-container {
    display: flex;
    justify-content: center;
    width: 92vw;
}

.chevron-container a {
    margin-top: 8rem;
    padding: 0 1em;
    text-decoration: none;
    color: var(--dark);
    transition: 0.3s;
    font-size: 1.2em;
}

.chevron-container a:hover {
    transform: translateY(10px);
}

/*------Testimonials-------*/

#testimonials {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark);
}

#testimonials h2 {
    font-size: 2.8rem;
}

#testimonials h6 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 1.5em;
}

/*Grid testimonials*/
.grid-testimonials {
    display: grid;
    grid-template-columns: repeat(4, 20em);
    gap: 3em;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
}

/*Testionial card*/
.testimonial {
    display: flex;
    justify-content: center;
    width: 20em;
    background: #f9f9f9;
    box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.testimonial:hover {
    transform: scale(1.03);
}

.container-testimonial {
    width: 80%;
    padding: 2em 0 3.5em 0;
    display: flex;
    flex-direction: column;
}

.avatar {
    height: 3.5em;
    width: 3.5em;
}

.container-testimonial span {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0.5em;
}

.stars {
    height: 1.4em;
    width: 7em;
    margin-top: 3px;
}

.container-testimonial p {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.8em;
}

/*------Download section-------*/

#download {
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
}

#download img {
    order: 1;
    height: 37rem;
    transition: ease-in-out 0.3s;
}

#download img:hover {
    transform: translateY(-5px);
}

.text-download {
    order: 2;
    color: var(--dark);
}

.text-download h2 {
    margin-right: 2em;
    margin-top: 1.5em;
}

.buttons-download {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.xl {
    font-size: 1.3em;
    padding: 10px 1.5em;
}

/*------Footer-------*/

footer {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 92%;
    padding: 2.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-white {
    filter: brightness(20);
    transition: ease-in-out 0.25s;
}

.logo-white:hover {
    filter: brightness(1.1);
}

.links-footer {
    display: flex;
    gap: 25px;
}

.links-footer a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1em;
    transition: ease-in-out 0.25s;
}

.links-footer a:hover {
    color: var(--accent-green);
}

.social-footer {
    display: flex;
    gap: 25px;
}

.social-footer a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1.5em;
    transition: ease-in-out 0.2s;
}

.social-footer a:hover {
    transform: translateY(-5px);
}

/*--------------------------------- PRICING ---------------------------------------*/

.pricing {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*Banner*/

.banner-pricing {
    height: 20em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: linear-gradient(187.36deg, #193b97 5.72%, #4871e0 94.82%);
    margin-top: 5em;
    color: #f9f9f9;
    z-index: 2;
}

.banner-pricing span {
    margin-top: 1em;
    color: var(--light-gray);
}

.banner-pricing h3 {
    font-weight: 500;
    text-align: center;
    font-variant: normal;
    margin-top: 0.4em;
}

.banner-pricing p {
    font-size: 1em;
    font-weight: normal;
    margin-top: 1.5em;
    width: 70%;
    text-align: center;
}

/*Grid pricing*/

.grid-pricing {
    display: grid;
    grid-template-columns: repeat(3, 22em);
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 1.5em;
    padding-bottom: 4em;
}

.plan {
    width: 22em;
    height: 31em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    color: var(--dark);
    transition: ease-in-out 0.2s;

    margin-top: -4em;
}

#pro:hover {
    transform: scale(1.01);
}

#pro {
    z-index: 3;
    height: 34em;
    background-color: #fff;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.container-plan {
    display: flex;
    flex-direction: column;
    width: 83%;
    position: relative;
    padding: 2em 0em 7em 0em;
    height: 100%;
}

#pro .container-plan {
    padding: 5em 0em 7em 0em;
}

.plan p {
    margin-top: 0.5em;
}

.plan a {
    margin-top: 1.5em;
}

.plan ul {
    list-style: none;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.plan ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    margin-right: 5px;
    color: var(--light-blue);
}

.item-none {
    color: #c2c2c2;
    text-decoration: line-through;
}

/*No entiendo por qué es necesario el important del 
siguiente bloque, si no lo pongo, sigue tomando las 
props anteriores*/

.item-none::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2em;
    content: "\f00d" !important;
    margin-right: 5px;
    color: var(--light-gray) !important;
    z-index: 200;
}

#enterprise {
    margin-top: 1.2em;
}

.price {
    position: absolute;
    bottom: 2.5em;
    font-size: 1.6rem;
    line-height: 5px;
    font-weight: 600;
}

.price span {
    color: var(--light-blue);
}

.email {
    font-size: 1.5rem;
    bottom: 2.7em;
    color: var(--dark);
}

#popular {
    text-transform: uppercase;
    font-size: 0.85em;
    position: absolute;
    top: 1em;
}

#popular {
    text-transform: uppercase;
}

/*--------------------------------- LOGIN ---------------------------------------*/

#grid-form {
    margin-top: 5em;
    min-height: 93vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.background-50 {
    background-image: url(../img/login-bg.jpg);
    background-size: cover;
    background-position: center;
}

/*Parte Login*/
.sign {
    display: flex;
    justify-content: center;
}

.container-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    max-width: 25em;
    height: 85%;
    color: var(--dark);
}

.container-sign img {
    height: 2.5em;
}

.container-sign h4 {
    font-size: 2rem;
    margin-top: 0.8em;
}

.container-sign span {
    margin-top: 1.5em;
    font-size: 0.9em;
}

.container-sign a {
    color: var(--accent-blue);
    font-weight: 600;
}

/*FORM*/

.form-sign {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 500;
    font-size: 1em;
}

.form-group input {
    border: none;
    padding: 11px 15px;
    border: 2px solid #c2c2c270;
    border-radius: 12px;
    width: 100%;
    margin-top: 0.5em;
}

.btn-sign {
    border: none;
    padding: 13px 0;
    cursor: pointer;
    font-weight: 600;
    filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
}

.google {
    background-color: #fff;
    color: gray;
    display: flex;
    align-items: center;
    gap: 1em;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.068));
}
.google img {
    height: 1.5em;
}

/*--------------------------------- SIGN-UP ---------------------------------------*/
#bg-signup {
    background-image: url(../img/signup-bg.jpg);
    background-position: top;
}

#btn-signup {
    border: none;
    filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
}

#link-signup {
    color: var(--accent-green);
}

/*--------------------------------- CONTACTO ---------------------------------------*/

/*No está definido el fondo, queda muy vacío*/

#contacto {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 95vh;
    background-image: linear-gradient(#193b97 1px, transparent 1px), linear-gradient(to right, #193b97 1px, #f3f5f7 1px);
    background-size: 20px 20px;
}

.container-contacto {
    display: flex;
    width: 92%;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 70em;
    display: flex;
    justify-content: space-between;
    height: 30em;
    background: linear-gradient(187.36deg, #193b97 5.72%, #4871e0 94.82%);
    border-radius: 20px;
    padding: 2em 2.5em;
}

/*Texto de la tarjeta*/

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25em;
    color: #fff;
}

.text-card p {
    width: 70%;
    color: var(--light-gray);
    margin-top: 1em;
}

.text-card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.1em;
}

.text-card ul li a {
    text-decoration: none;
    color: #fff;
}

.social-contact {
    display: flex;
    gap: 1.5em;
}

.social-contact a {
    transition: ease-in-out 0.2s;
}

.social-contact a:hover {
    transform: translateY(-5px);
}

.social-contact a {
    text-decoration: none;
    color: #fff;
}

.social-contact i {
    font-size: 1.5em;
}

/*Contact card*/
.contact-card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    width: 25em;
    border-radius: 12px;
}

.container-form {
    width: 90%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-form textarea {
    border: 2px solid #c2c2c270;
    border-radius: 12px;
    resize: none;
    padding: 10px;
    font-family: roboto;
    font-size: 0.8em;
}

.contact-form button {
    padding: 10px 0;
    display: flex;
    filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
}

/*--------------------------------- CARACTERÍSTICAS ---------------------------------------*/
#caracteristicas {
    margin-top: 15em;
    display: flex;
    justify-content: center;
    min-height: 95vh;
    width: 100%;
}

.grid-50 {
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10em;
}

.text-features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    color: var(--dark);
}

.text-features h3 {
    width: 80%;
}

.text-features h6 {
    font-size: 1em;
    font-weight: normal;
    width: 70%;
}

#btn-features {
    display: flex;
    width: 9em;
    padding: 12px 1px;
    filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
}

/*grid-features*/

.grid-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    height: 20em;
}

.icon-feature {
    width: 5em;
    height: 5em;
    background: linear-gradient(153.43deg, #fff0cb 16.67%, rgba(255, 250, 237, 0) 100%);
    border-radius: 20px;
}

.feature {
    display: flex;
    flex-direction: column;
    width: 15em;
}

.feature span {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--dark);
}

/*--------------------------------- MOBILE ---------------------------------------*/

@media screen and (max-width: 480px) {
    /*---------Header--------------*/

    header {
        padding: 0.4em 0;
    }

    .container-header {
        width: 85%;
    }

    #menu,
    #user {
        display: flex;
        font-size: 1.5em;
        cursor: pointer;
    }

    .logo {
        height: 2.2em;
    }

    .links-header {
        display: none;
    }

    .links-show {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 15px;
        top: 3em;
        right: 0;
        background-color: white;
        width: 100%;
        padding: 10px 1.5em;
    }

    .buttons-header {
        display: none;
    }

    .buttons-show {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 3em;
        right: 0;
        background-color: white;
        padding: 10px 1.5em;
        width: 100%;
    }

    .btn {
        width: 10em;
    }

    /*----------HOME-----------*/

    html,
    body {
        overflow-x: hidden;
    }

    body {
        min-height: 100vh;
    }

    #home {
        margin-top: 3em;
        position: relative;
        flex-direction: column;
    }

    .container-home {
        width: 85%;
    }

    /*Texto hero*/

    .hero-text {
        margin-top: 2em;
    }

    h1 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1rem;
        width: 80%;
    }

    .hero-text h5 {
        margin-top: 1.2em;
    }

    .hero-form {
        height: 2.5rem;
        width: 20rem;
        filter: drop-shadow(0px 6px 19px rgba(0, 0, 0, 0.1));
    }

    .hero-form button {
        font-weight: 500;
        font-size: 0.8em;
    }

    /*Flecha siguiente sección*/
    .chevron-container {
        display: none;
    }

    /*Illustración*/

    #hero-desktop {
        display: none;
    }

    #hero-mobile {
        display: flex;
        height: 28rem;
        position: absolute;
        top: 18em;
    }

    /*-----Testimonials section---------*/
    #testimonials {
        display: flex;
        margin-top: 1em;
    }

    #testimonials h2 {
        font-size: 1.8rem;
        width: 80%;
        text-align: center;
    }

    #testimonials h6 {
        text-align: center;
    }

    .grid-testimonials {
        grid-template-columns: auto;
        gap: 2em;
    }

    .testimonial {
        width: 18em;
    }

    .container-testimonial {
        padding-bottom: 2em;
    }

    .avatar {
        height: 3em;
        width: 3em;
    }

    .container-testimonial span {
        font-size: 1.2em;
    }

    .stars {
        height: 1.2em;
        width: 6em;
    }

    .sm-hide {
        display: none;
    }

    /*-----Download section---------*/
    #download {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        align-items: center;
        padding-bottom: 2em;
    }

    .buttons-download {
        flex-direction: column;
        align-items: center;
    }

    .xl {
        width: 11em;
    }

    #download img {
        display: none;
    }

    .text-download h2 {
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
    }

    footer {
        display: flex;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "logo social" "links social";
        row-gap: 0.5em;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1em 0;
        width: 85%;
    }

    .logo-white {
        grid-area: logo;
    }

    #footer-logo {
        height: 1.8rem;
    }

    .links-footer {
        flex-direction: column;
        grid-area: links;
        gap: 10px;
    }

    .social-footer {
        grid-area: social;
        justify-content: flex-end;
    }

    .social-footer a {
        font-size: 1.2em;
    }

    /*--------------------------------- PRICING ---------------------------------------*/

    .banner-pricing {
        margin-top: 3em;
        height: 18em;
    }

    .banner-pricing span {
        font-size: 0.9em;
        margin-top: 2em;
    }

    .banner-pricing h3 {
        font-size: 2rem;
        margin-top: 0;
    }

    .banner-pricing p {
        font-size: 0.9em;
        width: 80%;
        margin-top: 1em;
    }

    .grid-pricing {
        display: flex;
        flex-direction: column;
        z-index: 20;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -5em;
    }

    .plan {
        width: 85%;
        margin-top: 0;
        height: 90%;
    }

    #pro {
        order: 1;
        z-index: 1;
    }

    #basico {
        order: 2;
    }

    #empresas {
        order: 3;
    }

    .plan ul {
        gap: 1em;
    }

    /*--------------------------------- LOGIN ---------------------------------------*/
    #grid-form {
        margin-top: 3em;
        grid-template-columns: 1fr;
        min-height: 95vh;
    }

    .background-50 {
        display: none;
    }

    .container-sign {
        width: 75%;
    }

    /*--------------------------------- CONTACTO ---------------------------------------*/

    #contacto {
        margin-top: 3em;
    }

    .container-contacto {
        width: 100%;
    }

    .card {
        width: 100%;
        height: 100%;
        border-radius: 0;
        flex-direction: column;
        align-items: center;
    }

    .text-card {
        width: 95%;
    }

    .contact-card {
        width: 95%;
        margin-top: 1em;
    }

    /*--------------------------------- CARACTERÍSTICAS ---------------------------------------*/

    #caracteristicas {
        margin-top: 5em;
    }

    .grid-50 {
        grid-template-columns: 1fr;
        justify-content: center;
        width: 85%;
    }

    .text-features {
        text-align: center;
        align-items: center;
        width: 100%;

    }

    .text-features h3 {
        font-size: 2.2rem;
        width: 100%;
    }

    .text-features h6 {
        width: 95%;
    }

    #btn-features {
        width: 94%;
    }

    .grid-features {
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
        margin-top: 2em;
        position: relative;
    }

    .left {
        justify-content: flex-end;
    }
}
