@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header" "main" "footer";
}

/*-----Globales-----*/
body {
  font-family: "Roboto", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f5f7));
  background: linear-gradient(180deg, #ffffff 0%, #f3f5f7 100%);
  position: relative;
}

button {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2em;
  font-weight: normal;
}

/*Estilos que defino previamente para hacer mi propio pseudo-framework*/
.btn-full {
  text-decoration: none;
  color: #fff;
  width: 100%;
  padding: 10px 12px;
  border-radius: 14px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 600;
  padding: 8px 12px;
  border: none;
  border-radius: 13px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.green {
  background-color: #189779;
}

.dark {
  background-color: #010f34;
}

.light-blue {
  background-color: rgba(25, 59, 151, 0.8);
}

.blue {
  background-color: #193b97;
}

.blue:hover {
  background-color: #010f34;
}

.green:hover {
  background-color: #127760;
}

.dark:hover {
  background-color: #193b97;
}

.light-blue:hover {
  background-color: #193b97;
}

.yellow {
  background-color: #e58c0713;
  color: #977318;
}

@-webkit-keyframes iphone {
  from {
    margin-right: 0%;
  }
  25% {
    margin-right: 63%;
  }
  50% {
    margin-right: 0%;
  }
  75% {
    margin-right: 63%;
  }
  to {
    margin-right: 0%;
  }
}

@keyframes iphone {
  from {
    margin-right: 0%;
  }
  25% {
    margin-right: 63%;
  }
  50% {
    margin-right: 0%;
  }
  75% {
    margin-right: 63%;
  }
  to {
    margin-right: 0%;
  }
}

@-webkit-keyframes ipad {
  from {
    margin-left: 0%;
  }
  25% {
    margin-left: 40%;
  }
  50% {
    margin-left: 0%;
    z-index: 4;
  }
  56% {
    z-index: 1;
  }
  75% {
    margin-left: 40%;
  }
  90% {
    z-index: 4;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes ipad {
  from {
    margin-left: 0%;
  }
  25% {
    margin-left: 40%;
  }
  50% {
    margin-left: 0%;
    z-index: 4;
  }
  56% {
    z-index: 1;
  }
  75% {
    margin-left: 40%;
  }
  90% {
    z-index: 4;
  }
  to {
    margin-left: 0%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 5em;
}

/*------Header-------*/
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  position: fixed;
  z-index: 20000;
  z-index: 2000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header.scrolled {
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header.white {
  background-color: #fff;
}

header .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-header #menu,
header .container-header #user {
  display: none;
}

header .container-header .logo {
  height: 2.5em;
}

header .container-header .links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 40px;
  margin-left: 50px;
}

header .container-header .links-header li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #010f34;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container-header .links-header li a:hover {
  color: #193b97;
}

header .container-header .buttons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

@media screen and (max-width: 480px) {
  header {
    padding: 0.4em 0;
    background-color: white;
  }
  header .container-header {
    width: 85%;
  }
  header .container-header #menu,
  header .container-header #user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
    color: #010f34;
  }
  header .container-header .logo {
    height: 2.2em;
  }
  header .container-header .links-header {
    display: none;
  }
  header .container-header .links-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    gap: 15px;
    top: 3em;
    right: 0;
    background-color: white;
    width: 100%;
    padding: 10px 1.5em;
  }
  header .container-header .buttons-header {
    display: none;
  }
  header .container-header .buttons-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 3em;
    right: 0;
    background-color: white;
    padding: 10px 1.5em;
    width: 100%;
  }
  header .container-header .btn {
    width: 10em;
  }
}

/*------Main-------*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*------Home-------*/
}

main .container-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 92%;
}

@media screen and (max-width: 480px) {
  main .container-home {
    width: 85%;
  }
}

main .container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container-hero #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 92vh;
  margin-top: 5em;
}

main .container-hero #home .hero-text {
  color: #010f34;
  margin-top: 8rem;
}

main .container-hero #home .hero-text .hero-text h5 {
  margin-top: 1em;
}

main .container-hero #home .hero-text .hero-form {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25rem;
  height: 2.8rem;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.08));
}

main .container-hero #home .hero-text .hero-form input {
  border: none;
  background-color: #fff;
  border-radius: 16px 0 0 16px;
  padding: 1em;
  font-size: 0.9em;
  width: 17rem;
}

main .container-hero #home .hero-text .hero-form input:focus-visible {
  border: none;
}

main .container-hero #home .hero-text .hero-form button {
  border: none;
  background-color: #010f34;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  width: 8rem;
}

main .container-hero #home .hero-text .hero-form button:hover {
  background-color: #193b97;
}

main .container-hero #home #hero-mobile {
  display: none;
}

main .container-hero #home #hero-desktop {
  position: absolute;
  top: 0;
  right: 0;
  height: 55rem;
}

@media screen and (max-width: 480px) {
  main .container-hero #home {
    margin-top: 3em;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  main .container-hero #home .hero-text {
    margin-top: 4em;
  }
  main .container-hero #home .hero-text .hero-text h5 {
    margin-top: 1.2em;
  }
  main .container-hero #home .hero-text .hero-form {
    height: 2.5rem;
    width: 20rem;
    -webkit-filter: drop-shadow(0px 6px 19px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 6px 19px rgba(0, 0, 0, 0.1));
  }
  main .container-hero #home .hero-text button {
    font-weight: 500;
    font-size: 0.8em;
  }
  main .container-hero #home #hero-desktop {
    display: none;
  }
  main .container-hero #home #hero-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 28rem;
    position: absolute;
    top: 18em;
    right: 0.1em;
  }
}

main #testimonials {
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #010f34;
}

main #testimonials h2 {
  font-size: 2.8rem;
}

main #testimonials h6 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1.5em;
}

main #testimonials .grid-testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20em)[4];
      grid-template-columns: repeat(4, 20em);
  gap: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 3em;
}

main #testimonials .grid-testimonials .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20em;
  background: #f9f9f9;
  -webkit-box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

main #testimonials .grid-testimonials .testimonial:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

main #testimonials .grid-testimonials .testimonial .container-testimonial {
  width: 80%;
  padding: 2em 0 3.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #testimonials .grid-testimonials .testimonial .container-testimonial .avatar {
  height: 3.5em;
  width: 3.5em;
}

main #testimonials .grid-testimonials .testimonial .container-testimonial span {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 0.5em;
}

main #testimonials .grid-testimonials .testimonial .container-testimonial .stars {
  height: 1.4em;
  width: 7em;
  margin-top: 3px;
}

main #testimonials .grid-testimonials .testimonial .container-testimonial p {
  font-size: 1em;
  font-weight: normal;
  margin-top: 0.8em;
}

@media screen and (max-width: 480px) {
  main #testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
  }
  main #testimonials h2 {
    font-size: 1.8rem;
    width: 80%;
    text-align: center;
  }
  main #testimonials h6 {
    text-align: center;
  }
  main #testimonials .grid-testimonials {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 2em;
  }
  main #testimonials .grid-testimonials .testimonial {
    width: 18em;
  }
  main #testimonials .grid-testimonials .testimonial .container-testimonial {
    padding-bottom: 2em;
  }
  main #testimonials .grid-testimonials .testimonial .container-testimonial .avatar {
    height: 3em;
    width: 3em;
  }
  main #testimonials .grid-testimonials .testimonial .container-testimonial span {
    font-size: 1.2em;
  }
  main #testimonials .grid-testimonials .testimonial .container-testimonial .stars {
    height: 1.2em;
    width: 6em;
  }
  main #testimonials .grid-testimonials .testimonial.sm-hide {
    display: none;
  }
}

main #download {
  margin-top: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #download .text-download {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #010f34;
}

main #download .text-download h2 {
  margin-right: 2em;
  margin-top: 1.5em;
}

main #download .text-download .buttons-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin-top: 2em;
}

main #download .text-download .xl {
  font-size: 1.3em;
  padding: 10px 1.5em;
}

main #download .img-download {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 42rem;
  height: 30rem;
}

main #download .img-download img {
  height: 30rem;
  padding-bottom: 1em;
}

main #download .img-download img#ipad {
  position: absolute;
  left: 0;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: ipad;
          animation-name: ipad;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

main #download .img-download img#iphone {
  height: 32rem;
  translate: 0% -10%;
  margin-left: -2em;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: iphone;
          animation-name: iphone;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  z-index: 2;
  right: 0;
}

@media screen and (max-width: 480px) {
  main #download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2em;
  }
  main #download .text-download h2 {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
  }
  main #download .text-download .buttons-download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #download .text-download .xl {
    width: 11em;
  }
  main #download .img-download {
    display: none;
  }
}

/*------Footer-------*/
footer {
  background-color: #010f34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container {
  width: 92%;
  padding: 2.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .logo-white {
  -webkit-filter: brightness(20);
          filter: brightness(20);
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

footer .footer-container .logo-white:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

footer .footer-container .links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

footer .footer-container .links-footer a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1em;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

footer .footer-container .links-footer a:hover {
  color: #189779;
}

footer .footer-container .social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

footer .footer-container .social-footer a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.5em;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

footer .footer-container .social-footer a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 480px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "logo social" "links social";
    row-gap: 0.5em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1em 0;
    width: 85%;
  }
  footer .footer-container .logo-white {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  footer .footer-container .logo-white#footer-logo {
    height: 1.8rem;
  }
  footer .footer-container .links-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: links;
    gap: 10px;
  }
  footer .footer-container .social-footer {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: social;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .footer-container .social-footer a {
    font-size: 1.2em;
  }
}

/*--------------------------------- PRICING ---------------------------------------*/
.pricing {
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .banner-pricing {
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(187.36deg, #193b97 5.72%, #4871e0 94.82%);
  margin-top: 5em;
  color: #f9f9f9;
  z-index: 2;
}

.pricing .banner-pricing span {
  margin-top: 1em;
  color: #c2c2c2;
}

.pricing .banner-pricing h3 {
  font-weight: 500;
  text-align: center;
  font-variant: normal;
  margin-top: 0.4em;
}

.pricing .banner-pricing p {
  font-size: 1em;
  font-weight: normal;
  margin-top: 1.5em;
  width: 70%;
  text-align: center;
}

.pricing .grid-pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (22em)[3];
      grid-template-columns: repeat(3, 22em);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  gap: 1.5em;
  padding-bottom: 4em;
}

.pricing .grid-pricing .plan {
  width: 22em;
  height: 31em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  color: #010f34;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  margin-top: -4em;
}

.pricing .grid-pricing .plan#pro {
  z-index: 3;
  height: 34em;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.pricing .grid-pricing .plan#pro:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.pricing .grid-pricing .plan#pro.container-plan {
  padding: 5em 0em 7em 0em;
}

.pricing .grid-pricing .plan#enterprise {
  margin-top: 1.2em;
}

.pricing .grid-pricing .plan .container-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 83%;
  position: relative;
  padding: 2em 0em 7em 0em;
  height: 100%;
}

.pricing .grid-pricing .plan .container-plan p {
  margin-top: 0.5em;
}

.pricing .grid-pricing .plan .container-plan a {
  margin-top: 1.5em;
}

.pricing .grid-pricing .plan .container-plan ul {
  list-style: none;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.pricing .grid-pricing .plan .container-plan ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 5px;
  color: rgba(25, 59, 151, 0.8);
}

.pricing .grid-pricing .plan .container-plan ul li.item-none {
  color: #c2c2c2;
  text-decoration: line-through;
}

.pricing .grid-pricing .plan .container-plan ul li.item-none::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.2em;
  content: "\f00d" !important;
  margin-right: 5px;
  color: #c2c2c2 !important;
  z-index: 200;
}

.pricing .grid-pricing .plan .container-plan .price {
  position: absolute;
  bottom: 2.5em;
  font-size: 1.6rem;
  line-height: 5px;
  font-weight: 600;
}

.pricing .grid-pricing .plan .container-plan .price span {
  color: rgba(25, 59, 151, 0.8);
}

.pricing .grid-pricing .plan .container-plan .email {
  font-size: 1.5rem;
  bottom: 2.7em;
  color: #010f34;
}

@media screen and (max-width: 480px) {
  .pricing .banner-pricing {
    margin-top: 3em;
    height: 18em;
  }
  .pricing .banner-pricing span {
    font-size: 0.9em;
    margin-top: 2em;
  }
  .pricing .banner-pricing h3 {
    font-size: 2rem;
    margin-top: 0;
  }
  .pricing .banner-pricing p {
    font-size: 0.9em;
    width: 80%;
    margin-top: 1em;
  }
  .pricing .grid-pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 20;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5em;
  }
  .pricing .grid-pricing .plan {
    width: 85%;
    margin-top: 0;
    height: 90%;
  }
  .pricing .grid-pricing .plan#pro {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 1;
  }
  .pricing .grid-pricing .plan#basico {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .pricing .grid-pricing .plan#empresas {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .pricing .grid-pricing .plan .plan ul {
    gap: 1em;
  }
}

/*--------------------------------- LOGIN ---------------------------------------*/
#grid-form {
  margin-top: 5em;
  min-height: 93vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#grid-form .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#grid-form .sign .container-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  max-width: 25em;
  height: 85%;
  color: #010f34;
  /*FORM*/
}

#grid-form .sign .container-sign img {
  height: 2.5em;
}

#grid-form .sign .container-sign h4 {
  font-size: 2rem;
  margin-top: 0.8em;
}

#grid-form .sign .container-sign span {
  margin-top: 1.5em;
  font-size: 0.9em;
}

#grid-form .sign .container-sign a {
  color: #193b97;
  font-weight: 600;
}

#grid-form .sign .container-sign .form-sign {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6em;
  width: 100%;
}

#grid-form .sign .container-sign .form-sign .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#grid-form .sign .container-sign .form-sign .form-group label {
  font-weight: 500;
  font-size: 1em;
}

#grid-form .sign .container-sign .form-sign .form-group input {
  border: none;
  padding: 11px 15px;
  border: 2px solid #c2c2c270;
  border-radius: 12px;
  width: 100%;
  margin-top: 0.5em;
}

#grid-form .sign .container-sign .form-sign .btn-sign {
  border: none;
  padding: 13px 0;
  cursor: pointer;
  font-weight: 600;
  -webkit-filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
}

#grid-form .sign .container-sign .form-sign .google {
  background-color: #fff;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  border: none;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.068));
          filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.068));
}

#grid-form .sign .container-sign .form-sign .google img {
  height: 1.5em;
}

#grid-form .background-50 {
  background-image: url(../img/login-bg.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #grid-form {
    margin-top: 3em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    min-height: 95vh;
  }
  #grid-form .sign .container-sign {
    width: 75%;
  }
  .background-50 {
    display: none;
  }
}

/*--------------------------------- SIGN-UP ---------------------------------------*/
#bg-signup {
  background-image: url(../img/signup-bg.jpg);
  background-position: top;
}

#link-signup {
  color: #189779;
}

/*--------------------------------- CONTACTO ---------------------------------------*/
#contacto {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 95vh;
  background: linear-gradient(187.36deg, #193b97 5.72%, #4871e0 94.82%);
}

#contacto .container-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .container-contacto .card {
  width: 100%;
  max-width: 70em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 29em;
  background-color: white;
  border-radius: 20px;
  padding: 2em 2.5em;
}

#contacto .container-contacto .card .text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 25em;
  color: #010f34;
}

#contacto .container-contacto .card .text-card p {
  width: 70%;
  color: #193b97;
  margin-top: 1em;
}

#contacto .container-contacto .card .text-card ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  font-size: 1.1em;
}

#contacto .container-contacto .card .text-card ul li {
  color: #193b97;
  font-weight: 500;
}

#contacto .container-contacto .card .text-card ul li a {
  text-decoration: none;
  color: #193b97;
  font-weight: 500;
}

#contacto .container-contacto .card .text-card .social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

#contacto .container-contacto .card .text-card .social-contact a {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  color: #010f34;
}

#contacto .container-contacto .card .text-card .social-contact a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#contacto .container-contacto .card .text-card .social-contact i {
  font-size: 1.5em;
}

#contacto .container-contacto .card .contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 0;
  width: 25em;
  border-radius: 12px;
}

#contacto .container-contacto .card .contact-card .container-form {
  width: 90%;
}

#contacto .container-contacto .card .contact-card .container-form .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

#contacto .container-contacto .card .contact-card .container-form .contact-form .form-group label {
  font-weight: 500;
  color: #010f34;
}

#contacto .container-contacto .card .contact-card .container-form .contact-form .form-group input {
  border: none;
  padding: 11px 15px;
  border: 2px solid #c2c2c270;
  border-radius: 12px;
  width: 100%;
  margin-top: 0.5em;
}

#contacto .container-contacto .card .contact-card .container-form .contact-form textarea {
  border: 2px solid #c2c2c270;
  border-radius: 12px;
  resize: none;
  padding: 10px;
  font-family: roboto;
  font-size: 0.8em;
}

#contacto .container-contacto .card .contact-card .container-form .contact-form button {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 480px) {
  #contacto {
    margin-top: 3em;
  }
  #contacto .container-contacto {
    width: 100%;
  }
  #contacto .container-contacto .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  #contacto .container-contacto .card .text-card {
    width: 95%;
  }
  #contacto .container-contacto .card .text-card h4 {
    color: #fff;
  }
  #contacto .container-contacto .card .text-card p {
    color: #fff;
  }
  #contacto .container-contacto .card ul li a {
    color: #fff !important;
  }
  #contacto .container-contacto .card .social-contact a {
    color: #fff !important;
  }
  #contacto .container-contacto .card .contact-card {
    width: 95%;
    margin-top: 1em;
    padding: 1em;
    background-color: #fff;
  }
}

/*--------------------------------- CARACTERÍSTICAS ---------------------------------------*/
#caracteristicas {
  margin-top: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 95vh;
  width: 100%;
}

.grid-50 {
  width: 92%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10em;
          column-gap: 10em;
}

.text-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
  color: #010f34;
}

.text-features h3 {
  width: 80%;
}

.text-features h6 {
  font-size: 1.2em;
  font-weight: normal;
  width: 60%;
}

#btn-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9em;
  padding: 12px 1px;
  -webkit-filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 6px 17px rgba(0, 0, 0, 0.25));
}

/*grid-features*/
.grid-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 3em;
  height: 20em;
}

.icon-feature {
  width: 5em;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(153.43deg, #fff0cb 16.67%, rgba(255, 250, 237, 0) 100%);
  border-radius: 20px;
}

.icon-feature i {
  color: #189779;
  font-size: 1.5em;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15em;
}

.feature span {
  font-weight: 600;
  font-size: 1.2em;
  color: #010f34;
  margin: 5px 0 3px 0;
}

/*--------------------------------- MOBILE ---------------------------------------*/
@media screen and (min-width: 1921px) {
  #home {
    max-width: 800px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 811px) {
  header {
    padding: 0.4em 0;
    background-color: white;
  }
  .container-header {
    width: 85%;
  }
  #menu,
  #user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
  }
  .logo {
    height: 2.2em;
  }
  .links-header {
    display: none;
  }
  .links-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    gap: 15px;
    top: 3em;
    right: 0;
    background-color: white;
    width: 100%;
    padding: 10px 1.5em;
  }
  .buttons-header {
    display: none;
  }
  .buttons-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 3em;
    right: 0;
    background-color: white;
    padding: 10px 1.5em;
    width: 100%;
  }
  .btn {
    width: 10em;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    min-height: 100vh;
  }
  .container-home {
    width: 92%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Texto hero*/
  .hero-text {
    margin-top: 2em;
  }
  h1 {
    font-size: 2.8rem;
  }
  h5 {
    font-size: 1.2rem;
    width: 80%;
  }
  .hero-text h5 {
    margin-top: 1.2em;
  }
  .hero-form {
    height: 3.5rem;
    width: 28rem;
    -webkit-filter: drop-shadow(0px 6px 19px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 6px 19px rgba(0, 0, 0, 0.1));
  }
  .hero-form input {
    width: 20rem;
  }
  .hero-form button {
    font-weight: 500;
    font-size: 0.8em;
  }
  /*Flecha siguiente sección*/
  .chevron-container {
    display: none;
  }
  /*Illustración*/
  #hero-desktop {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /*----------HOME-----------*/
  html,
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
    width: 80%;
  }
  body {
    height: 100%;
  }
  /*--------------------------------- PRICING ---------------------------------------*/
  /*--------------------------------- LOGIN ---------------------------------------*/
  /*--------------------------------- CARACTERÍSTICAS ---------------------------------------*/
  #caracteristicas {
    margin-top: 5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .grid-50 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  .text-features {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .grid-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2em;
  }
  .grid-features .feature {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .grid-features .feature.left {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: end;
  }
  .grid-features .feature p {
    width: 60%;
  }
  .text-features h3 {
    font-size: 2.2rem;
    width: 100%;
  }
  .text-features h6 {
    width: 95%;
  }
  #btn-features {
    width: 94%;
  }
}
/*# sourceMappingURL=styles.css.map */